.add-user{
    label {
        font-weight: bolder;
        font-size: 1.3rem;
    }

    input { width: 100%; }

    button{
        background-color: purple;
        color: #fff;
        padding: 5px;
    }
}